.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
  height: 100vh;
}

.scene {
  height: 100vh;
  width: 100%;
  position: absolute;
}
